<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 class='no-item' text-center *ngIf="loadItems().length == 0">
    No items available on the list!
  </h3>
  <!-- List of Sliding Items -->
  <ion-list>
    <ion-item-sliding *ngFor="let item of loadItems(); let i = index">
      <ion-item>
        <h2>{{item.name}}</h2>
        <p>{{item.quantity}}</p>
      </ion-item>
      <!-- <ion-item>
        <ion-label>
          <h2>{{item.name}}</h2>
        </ion-label>
        <ion-select placeholder="Please select" [(ngModel)]="selected_option">
          <ion-select-option value="1">One</ion-select-option>
          <ion-select-option value="2">Two</ion-select-option>
          <ion-select-option value="3">Three</ion-select-option>
          <ion-select-option value="4">Four</ion-select-option>
          <ion-select-option value="5">Five</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item-options>
        <button (click)="editItem(item, i)" ion-button color="primary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button (click)="removeItem(item, i)" ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button (click)="addItem(item)" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  {{selected_option}}
</ion-content>
